In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Q1.csv')

In [3]:
BDV = df.loc[df['country_id'] == 'BDV']

In [4]:
q1 = BDV.groupby('site_id')['user_id'].nunique()
q1

site_id
3POLC      2
5NPAU    544
N0OTG     90
Name: user_id, dtype: int64

In [5]:
df3_4 = df[(df['ts'] > '2019-02-03 00:00:00') & (df['ts'] < '2019-02-04 23:59:59')]

In [6]:
q2 = df3_4.groupby(['user_id','site_id'])['site_id'].count()

In [7]:
q2[q2 > 10]

user_id  site_id
LC06C3   N0OTG      25
LC3A59   N0OTG      26
LC3C7E   3POLC      15
LC3C9D   N0OTG      17
Name: site_id, dtype: int64

In [8]:
last = df.sort_values('ts').drop_duplicates('user_id',keep='last')

In [9]:
q3 = last.groupby('site_id')['user_id'].count().sort_values(ascending=False)

In [10]:
q3.head(3)

site_id
5NPAU    992
N0OTG    561
QGO3G    289
Name: user_id, dtype: int64

In [11]:
first = df.sort_values('ts').drop_duplicates('user_id',keep='first')

In [12]:
temp = first.merge(last, on='user_id', how='left')
temp.head(5)

,ts_x,user_id,country_id_x,site_id_x,ts_y,country_id_y,site_id_y
0,2019-02-01 00:01:24,LC36FC,TL6,N0OTG,2019-02-07 00:24:50,TL6,N0OTG
1,2019-02-01 00:10:19,LC39B6,TL6,N0OTG,2019-02-01 00:10:19,TL6,N0OTG
2,2019-02-01 00:21:50,LC3500,TL6,N0OTG,2019-02-01 00:21:50,TL6,N0OTG
3,2019-02-01 00:22:50,LC374F,TL6,N0OTG,2019-02-03 04:50:43,TL6,N0OTG
4,2019-02-01 00:23:44,LCC1C3,TL6,QGO3G,2019-02-01 00:23:44,TL6,QGO3G

In [13]:
q4 = temp[temp['site_id_x'] == temp['site_id_y']]['user_id'].count()
q4

1670