In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('q2.csv',names=["A","B","C"])

In [3]:
df.head()

       A     B      C
0  0.490 -0.18  11.50
1 -1.410 -1.23  11.80
2  0.943  4.51  -3.24
3  3.570  5.07 -23.90
4 -1.700  6.91 -22.10

In [4]:
X = df.iloc[:,0:2]
ones = np.ones([X.shape[0],1])
X = np.concatenate((ones,X),axis=1)

y = df.iloc[:,2:3].values
theta = np.zeros([1,3])

#Set hyper parameters
alpha = 0.01
iters = 1000

In [5]:
#Compute Cost
def computeCost(X,y,theta):
    tobesummed = np.power(((X @ theta.T)-y),2)
    return np.sum(tobesummed)/(2 * len(X))

In [6]:
#Gradient Descent
def gradientDescent(X,y,theta,iters,alpha):
    cost = np.zeros(iters)
    for i in range(iters):
        theta = theta - (alpha/len(X)) * np.sum(X * (X @ theta.T - y), axis=0)
        cost[i] = computeCost(X, y, theta)
    
    return theta,cost

In [7]:
g,cost = gradientDescent(X,y,theta,iters,alpha)
print(g)

[[-19.22551643  -8.07108073  -1.78860684]]

The relationship between A,B and C is C = -8.071 * A - 1.789 * B - 19.226